* {
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
}

body {
    background-image: url(../assets/background-image.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
}

#tilted-toolbar {
    background-color: rgba(171, 71, 188, 0.5);
    position: absolute;
    height: 200px;
    width: 1400px;
    top: -18%;
    left: -3%;
    overflow: hidden;
    transform: rotate(-6deg);
}

#below-tilted-toolbar {
    background-color: rgba(223, 120, 239, 0.5);
    position: absolute;
    height: 200px;
    width: 1400px;
    top: -17.5%;
    overflow: hidden;
    left: -3%;
    transform: rotate(-6deg);
}

#infosafe {
    font-size: 34px;
    letter-spacing: 3px;
    position: absolute;
    color: white;
    z-index: 10;
    margin: 20px;
    top: 12px;
    font-family: chocolatine;
}

#logout {
    position: absolute;
    right: 30px;
    top: 50px;
    border: none;
    border-radius: 50px;
    background-color: rgb(200, 100, 209);
    color: white;
    padding: 10px;
    font-size: 16px;
    width: 120px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

#logout:hover {
    background-color: #efed40;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    color: #555;
}

#hospital-details {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 40%;
    transform: translate(-50%, -30%);
    transition: all 0.5s;
}

table {
    width: 100%;
}

#hospital-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.hospital-icon-container {
    text-align: center;
}

#hospital-name {
    font-size: 50px;
    margin-left: 10px;
    color: #33ff88;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.small-icon {
    width: 30px;
    height: 30px;
}

.icon-td {
    width: 20px;
    text-align: center;
}

.address-row {
    padding-top: 30px;
}

.phone-row,
.email-row {
    padding-top: 15px;
}

#hospital-address,
#hospital-phone,
#hospital-email {
    padding-left: 10px;
    font-size: 20px;
    color: #222222;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#scan-patient {
    position: absolute;
    top: 50%;
    /*    top: 25%;*/
    left: 75%;
    /*    left:70%;*/
    transform: translate(-50%, -50%);
    border: none;
    /*    background: none;*/
    background: #ff7043;
    padding: 20px;
    font-size: 30px;
    color: white;
    /*    color: rgb(200, 100, 209);*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    /*    box-shadow: 0px 0px  0px 0px rgba(0,0,0,0);*/
    transition: all 0.5s;
}

#scan-patient:hover,
#scan-patient:focus {
    background: #efed40;
    color: #333;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

#scan-patient:active {
    background: white;
}

#stop-scanning {
    position: absolute;
    /*    top: 22%;*/
    top: -20%;
    /*    left: 88%;*/
    left: 25%;
    border: none;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: rgb(200, 100, 209);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    opacity: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(200, 100, 209);
    transition: all 0.5s;
}

#stop-scanning:hover,
#stop-scanning:focus,
#stop-registering-patient:hover,
#stop-registering-patient:focus {
    background: rgb(200, 100, 209);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

#preview-container,
#preview {
    width: 400px;
    height: 250px;
    position: absolute;
    top: -40%;
    /*    top: 35%;*/
    overflow: hidden;
    left: 60%;
    opacity: 0;
    /*    opacity: 1;*/
    transition: all 1s;
}

#preview {
    opacity: 1;
    position: static;
    top: 0%;
    left: 0%;
    transition: all 0.5s;
}

#preview-container {
    /*    background-color: green*/
}

#pads {
    transition: all 0.5s;
}

.pads {
    z-index: 20px;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.vertical-pads {
    top: 0%;
    left: 0%;
    width: 90px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
}

.right-pad {
    position: absolute;
    left: auto;
    right: 0%;
}

.horizontal-pads {
    top: 0%;
    left: 90px;
    width: 220px;
    height: 15px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.bottom-pad {
    top: auto;
    bottom: 0%;
}

.qr-border-container {
    z-index: 20;
    top: 14px;
    left: 88px;
    width: 220px;
    height: 220px;
    position: absolute;
    border: 2px solid white;
}

#qr-done {
    opacity: 0;
    z-index: 30;
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    transition: all 0.5s;
    border-radius: 20px
}

#tick-icon {
    position: absolute;
    top: 20%;
    left: 50%;
    transition: all 0.5s;
    transform: translate(-50%,0);
    width: 0px;
    height: 0px;
}

#qr-done-text {
    position: absolute;
    top: 70%;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    color: #00aaaa;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: bold;
}
.scanner-container {
    border-bottom: 2px solid #00cc99;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 220, 150, 0.5));
    width: 100%;
    top: 0;
    overflow: hidden;
    position: absolute;
    height: 0px;
    animation-name: scan-animation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

@keyframes scan-animation {
    from {
        top: -60px;
        height: 0px;
    }
    to {
        top: 60px;
        height: 160px;
    }
}


#otp-container {
    position: absolute;
    /*    top: 80%;*/
    top: -20%;
    left: 75%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 1s;
}

.otp-fields {
    width: 20px;
    background: none;
    border: none;
    color: white;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #33ff88;
    margin: 5px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    transition: all 0.3s;
}

.otp-fields:focus {
    box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#retrieve-patient-info {
    position: absolute;
    right: 30px;
    /*    top: 90%;*/
    top: -10%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    background-color: rgb(200, 100, 209);
    color: white;
    padding: 10px;
    width: 250px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#retrieve-patient-info:hover,
#retrieve-patient-info:focus {
    background-color: #efed40;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
    color: #555;
}

#retrieve-patient-info:active {
    background-color: white;
}

.patient-info-container {
    position: absolute;
    opacity: 0;
/*    top: 20%;*/
    top: -60%;
    left: 75%;
    transform: translate(-50%, 0);
    width: 30%;
    height: 46%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 60px 20px 20px 20px;
    transition: all 1s;
}

#patient-icon {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50%;
    top: -40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.patient-label {
    text-align: center;
    width: 60px;
    padding-top: 4px;
}

.label-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 7px;
}

.patient-value {
    padding-left: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
}

#register-patient {
    position: absolute;
    opacity: 0;
    top: 85%;
    /*    left: 73%;*/
    left: -10%;
    transform: translate(-50%, 0);
    border: none;
    background: none;
    background-color: #33ee77;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
    width: 200px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 18px;
    transition: all 0.5s;
}


#register-patient:hover,
#register-patient:focus {
    background-color: #e4ed40;
    color: #333;
    cursor: pointer;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.5);
}

#register-patient:active {
    background-color: white;
}

#stop-registering-patient {
    position: absolute;
    /*        top: 85%;*/
    top: -20%;
    /*        left: 82%;*/
    left: 25%;
    border: none;
    font-size: 18px;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    color: rgb(200, 100, 209);
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    opacity: 0;
    padding: 5px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid rgb(200, 100, 209);
    transition: all 0.5s;
}











@font-face {
    font-family: chocolatine;
    src: url('../assets/fonts/chocolatine.ttf');
}
